@import "../../scss/variables";

.navbar {
  position: fixed;
  height: 51px !important;
  width: 100% !important;
  background: #f44336 !important;
  transition: none !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 0 !important;
  margin: 0 0 51px 0 !important;

  .container-fluid {
    padding: 0 !important;
    margin: 0 !important;

    .navbar-brand {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      background: white;
      font-family: map-get($font, mont);
      font-size: 18px;
      padding: 12px 24px !important;
      margin: 0 0 !important;
    }

    .navbar-toggler {
      fill: white !important;
      outline: none;

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      }
    }

    .collapse {
      .navbar-nav {
        padding: 0 !important;
        margin: 0 !important;
        outline: none !important;
        .nav-item {
          height: 100%;
          padding: 0 !important;
          margin: 0 !important;

          .nav-link {
            height: 100%;
            color: black;
            font-family: map-get($font, lato), sans-serif;
            font-size: 18px;
            padding: 12px 24px;
            margin: 0;

            &:hover {
              background: white;
              color: black;
              transition: none !important;
            }
          }
        }
      }
    }

    .navbar-collapse {
      background: #fff !important;
      color: #000 !important;
    }
  }
}

.collapsing {
  transform: none !important;
}

// @media screen and (max-width: 600px) {
//   .navbar {
//     .container-fluid {
//       .navbar-brand {
//       }

//       .navbar-toggler {
//         .navbar-toggler-icon {
//         }
//       }

//       .navbar-collapse {
//         .navbar-nav {
//           background: white !important;
//           color: black !important;
//           .nav-item {
//             .nav-link {
//             }
//           }
//         }
//       }
//     }
//   }
// }
