@import "../../scss/component";

.Tags_ {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: white;

  .Tags_header {
    width: 100%;
    background: #f1f1f1;
    padding: 8px 16px;

    .Tags_header_title {
      width: 100%;
      font: 20px font(rale);
      margin: 10px auto;
    }
  }

  .Tags_tags-container {
    background: white;
    padding: 0.01em 16px;
    margin: 15px auto;
    gap: 1em;

    .Tags_tags-container_tag {
      display: inline-block;
      width: fit-content;
      font: 12px font(rale);
      line-height: 1.5;
      background: #f1f1f1;
      padding: 0 8px;
      margin: 0 0.4em 16px 0;
    }

    .highlighted {
      font: 15px font(rale);
      background: black;
      color: white;
    }
  }
}
