.Navbar_ {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: black;
  margin: 0;
  padding: 0;

  .Navbar_Links {
    display: flex;
    flex-direction: row;
    width: 100%;

    ul {
      display: flex;
      width: 100%;
      padding: 0;
      margin: 0;

      li {
        padding: 12px 24px;
        a {
          color: white;
          text-decoration: none;
        }
      }

      .Navbar_dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        background: black;

        li {
          padding: 12px 24px;

          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }

  .Navbar_dropdown-toggle:hover ~ .Navbar_dropdown-menu {
    display: block;
  }
}

.Navbar_dropdown-toggle {
  display: flex;
  align-items: center;
  position: relative;
}

.Navbar_dropdown-toggle i {
  margin-left: 5px;
}
