@import "../../scss/variables";

.Quote__ {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  font-size: 24px;
  opacity: 0.6;
  padding: 64px 16px;

  span {
    color: white;
    font-family: map-get($font, mont), sans-serif;
    margin: 16px;
  }
}
