.Socials__ {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 32px;
  color: black;
  opacity: 0.6;

  svg {
    font-size: 24px;

    path {
      font-size: 24px;
    }
  }
}
