@import "../../scss/components";

.Heading_ {
  margin: 80px 0 0;
  padding: 0.01em 16px;

  .Heading_interior,
  .Heading_showcase {
    font-weight: bold;
    margin: 10px 0 0 0;
  }
  .Heading_interior {
    font-size: 64px;
  }

  .Heading_showcase {
    color: color(orange);
    font-size: 48px;
  }
}
