.Footer__ {
  background: black;
  color: white;
  max-width: 1300px;
  margin: auto;
  padding: 16px;

  p {
    margin-block: 15px;
    font-family: Verdana, sans-serif;
    font-size: 15px;

    a {
      color: white;
    }
  }
}
