@import "./scss/all";

.App_ {
  background: color(bg);

  .App_content {
    display: flex;
    max-width: 1400px;
    padding: 0.01em 16px;
    margin-top: 80px;

    .App_content-left,
    .App_content-middle,
    .App_content-right {
      display: flex;
      flex-direction: column;
    }

    .App_content-left {
      width: 24.99999%;
      padding: 0 8px 0 0;
    }
    
    .App_content-middle {
      width: 58.33333%;
      padding: 0 8px;
    }
    
    .App_content-right {
      width: 16.66666%;
      padding: 0 0 0 8px  ;
    }
  }
}

.round {
  border-radius: 4px;
}

.shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 1000px) {
  .App_ {
    .App_content {
      .App_content-left,
      .App_content-middle,
      .App_content-right {
      }

      .App_content-left {
      }

      .App_content-middle {
      }

      .App_content-right {
      }
    }
  }
}
