@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import "./variables";
@import "./mixins";

* {
  box-sizing: border-box;
  color: white;
  font-family: "Manrope", sans-serif;
  text-decoration: none;
  border: none;
  scroll-behavior: smooth;
  @include p0m0;
  user-select: text;
}

html {
  // font-size: 62.5%;
  overflow-x: hidden;
}

body {
  color: map-get($colors, text);
  background: map-get($colors, main-bg);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

h1,
h2,
h3,
p,
span {
  filter: drop-shadow(0 0 1rem rgba(0 0 0 / 1));
}

::placeholder {
  color: rgba(255 255 255 / 0.5);
}

// * scroll bar

::-webkit-scrollbar {
  width: 1.5rem;
  border-radius: 100vw;
}

::-webkit-scrollbar-track {
  background: linear-gradient(176deg, rgba(17, 17, 34, 1) 25%, rgba(0, 38, 55, 1) 100%);
  margin-block: 7.5rem auto;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 70, 90, 1);
  border: 1px solid black;
  border-radius: 100vw;

  &:hover {
    background-color: rgba(0, 100, 120, 1);
  }

  &:active {
    cursor: -webkit-grabbing;
  }
}
