@import "../../styling/variables";
@import "../../styling/mixins";

@media (max-width: 990px) {
  .header {
    padding: 2rem 3%;
  }
}

@media (max-width: 770px) {
  .header {
    width: 100%;

    .bx-menu-alt-right {
      font-size: 2.6rem;
      display: block;
      color: white;
    }
  }

  .navbar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: map-get($colors, main-bg);
    border-top: 0.1rem solid rgba(0 0 0 /0.2);
    box-shadow: 0 0.5rem 1rem rgba(0 0 0 /0.2);
    @include transition;

    a {
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
    }
  }

  .navbar.active {
    display: block;
  }
}
