@import "../../styling/variables";
@import "../../styling/mixins";

.header {
  position: sticky;
  inset: 0;
  margin: auto;
  inset: 0 0 auto 0;
  @include flexbox(flex, row, space-between, center, 0);
  @include heightWidth(auto, 100%);
  @include padmar(2rem 9%, 0);
  background: map-get($colors, main-bg);
  z-index: 100;
  user-select: none;
}
