.Pagination__ {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    padding: 1em;

    &:nth-of-type(1) {
      background-color: black;
      color: white;
    }
  }
}
