@import "./scss/all";

.App_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: auto;

  .App_main-content {
    display: flex;
    // flex-direction: column;
    width: 100%;

    .App_left-side,
    .App_right-side {
      display: flex;
      flex-direction: column;
      margin: 16px;
    }

    .App_left-side {
      width: 66.66666%;
    }

    .App_right-side {
      width: 33.33333%;
    }
  }
}
