@import "./styling/defaults";
@import "./styling/variables";
@import "./styling/mixins";

.App_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Sections_ {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: start;
    width: 85%;

    .Simple_,
    .Moderate_,
    .Complex_ {
      margin: 1em !important;
    }
  }
}

// TODO: ADD Media Queries!!!

@import "./styling/media";
