@import "./styling/defaults";
@import "./styling/variables";
@import "./styling/mixins";

.App_ {
  display: flex;
  justify-content: center;
  align-items: center;

  .Sections_ {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: start;
    width: 85%;
    padding: 86px 0 0 0;

    .Simple_,
    .Moderate_,
    .Complex_ {
      margin: 1em !important;
    }
  }
}

.hidden {
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}

.visible {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}

@import "./styling/media";
