@import "../../scss/variables";

.Start__ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f44336;
  color: white;
  font-family: map-get($font, mont), sans-serif;
  text-align: center !important;
  font-size: 15px;
  line-height: 1.5;
  padding: 128px 16px;

  .Start__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 64px;
    font-weight: 400;
    margin: 16px;
  }
  
  .Start__p {
    width: 100%;
    font-family: map-get($font, lato), sans-serif;
    font-size: 24px;
    margin-block: 24px;
  }

  .Start__button {
    background: black;
    color: white;
    border: none;
    font-size: 18px;
    padding: 12px 24px;
    margin: 16px 0 0;
  }
}
