.Dates_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;

  .Dates_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;

    .Dates_header-container {
      h2 {
      }

      p {
      }
    }

    .Dates_months-container {
      ul {
        li {
          list-style: none;

          .Dates_sold-out {
          }

          .Dates_badge {
          }
        }
      }
    }

    .Dates_places_container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      background: white;
      color: black;
      margin: 0 8px;

      .Dates_places-card {
        img {
          width: 100%;
        }

        .Dates_place {
          font-weight: bold;
        }

        .Dates_date {
        }

        .Dates_description {
        }

        .Dates_buy-btn {
          border: none;
          background: black;
          color: white;
        }
      }
    }
  }
}
